doctype html
html
	head
		link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous") 
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= Register
	body
		div(style='float:left;margin:0px;')
			a(href='/')
				button.btn.btn-outline-dark(type='button') Home
	
		div(style='float:right')
				a(href='/users/signin', style='margin:10px;') 
					button.btn.btn-outline-dark(type='button') Log In
				a(href='/users/forget', style='margin:10px;') 
					button.btn.btn-outline-dark(type='button') Forgot password
		
		div(style='padding:80px;')
			form(name="register", action="/apis/register", method="post")
				h1 Register
				div
					p
						label(style='padding-right:35px') Username or E-mail
						input(type="text", name="username", placeholder='username@example.com')
					p
						label(style='padding-right:110px')  Password
						input(type="password", name="passwd")
				p
					span(style='padding-right:290px')
					input(type="submit", name="submit", value="Sign Up")
